@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  transition: all 0.8s ease-in-out;
}
/* * {
  transition: all 0.8s ease-in-out;
} */
body {
  font-family: Arial, Helvetica, sans-serif;
}

#navHide {
  height: 0;
  overflow: hidden;
  transition: height 0.4s ease;
}

#navHide.showNav {
  height: 100vh;
}

hr {
  color: var(--color);
}
#close {
  border: 2px solid rgb(9, 119, 192);
  border-radius: 50%;
  padding: 10px;
  color: rgb(9, 119, 192);
}
#close:active {
  cursor: pointer;
  transition: 0.5s all ease-in-out;
  animation: rotate 0.5s;
  background-color: #e7f9fd !important;
  border: none;
}
@keyframes rotate {
  0% {
    rotate: 90deg;
  }
  100% {
    rotate: 180deg;
  }
}
/* End Navbar */
section {
  margin-top: 4.5rem;
}
article {
  margin-top: 0.5rem;
}
h1 {
  padding-top: 30px;
  font-size: large;
  font-weight: bolder;
}
h2 {
  font-weight: bolder;
  font-size: large;
  padding: 2rem 0 2rem 0;
}
h3 {
  font-weight: bolder;
  font-size: large;
}
h4 {
  font-size: medium;
  font-weight: 600;
  padding: 15px 5px;
}
h5 {
  font-weight: bold;
  font-size: small;
  margin: 10px 0;
}
p {
  padding: 1.8rem 0;
  font-size: small;
  color: rgba(0, 0, 0, 0.2);
}
#chefKitchen {
  margin: -2rem 0 0;
}
.footer {
  font-size: small;
  font-weight: 600;
}
#btn {
  background-color: "#000000";
  color: "#FFFFFF ";
  font-weight: "bold";
}

@media (min-width: 768px) {
  h1 {
    font-weight: bolder;
    font-size: x-large;
  }
  h2 {
    font-size: x-large;
  }
  h3 {
    font-size: x-large;
  }
  h4 {
    font-size: larger;
    font-weight: 600;
  }
  p {
    padding: 3rem 0;
    font-size: small;
    color: rgba(0, 0, 0, 0.2);
  }
  section {
    margin-top: 8rem;
  }
  article {
    margin-top: 1rem;
  }
  .footer {
    font-size: medium;
    font-weight: 600;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-weight: bolder;
    font-size: xx-large;
  }
  p {
    font-size: medium;
  }
}
