@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  transition: all 0.8s ease-in-out;
}
/* * {
  transition: all 0.8s ease-in-out;
} */
body {
  font-family: Arial, Helvetica, sans-serif;
}

#navHide {
  height: 0;
  overflow: hidden;
  transition: height 0.4s ease;
}

#navHide.showNav {
  height: 100vh;
}

hr {
  color: var(--color);
}
#close {
  border: 2px solid rgb(9, 119, 192);
  border-radius: 50%;
  padding: 10px;
  color: rgb(9, 119, 192);
}
#close:active {
  cursor: pointer;
  transition: 0.5s all ease-in-out;
  animation: rotate 0.5s;
  background-color: #e7f9fd !important;
  border: none;
}
@keyframes rotate {
  0% {
    rotate: 90deg;
  }
  100% {
    rotate: 180deg;
  }
}
/* End Navbar */
section {
  margin-top: 3rem;
}
article {
  margin-top: 0.5rem;
}
h1 {
  padding-top: 30px;
  font-size: 24px;
  font-weight: bolder;
}
h2 {
  font-weight: bolder;
  font-size: large;
  padding: 2rem 0 2rem 0;
}
h3 {
  font-weight: bolder;
  font-size: large;
}
h4 {
  font-size: medium;
  font-weight: 600;
  padding: 15px 5px;
}
h5 {
  font-weight: bold;
  font-size: small;
  margin: 10px 0;
}
p {
  padding: 1.8rem 0;
  font-size: small;
  color: #6b7280;
}
#chefKitchen {
  margin: -2rem 0 0;
}
.footer {
  font-size: small;
  font-weight: 600;
}
#btn {
  background-color: "#000000";
  color: "#FFFFFF ";
  font-weight: "bold";
}
h6 {
  font-size: 8px;
  text-wrap: nowrap;
}
input[type="checkbox"] {
  accent-color: #e7fafe;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.editSpacing {
  padding: 0;
  margin: 0;
  font-size: 6px;
}
.editTitle {
  font-size: 8px;
  margin: 0;
  padding: 2px;
}
input,
textarea,
select {
  padding: 16px;
  border-radius: 12px;
  background-color: transparent;
  border: 1px solid #6b7280;
  width: 100%;
  margin: 10px 0;
  outline: none;
}
input:focus {
  outline: none;
  border: 1.5px solid green;
  transition: all 0.3s;
}
textarea:focus {
  outline: none;
  border: 1.5px solid green;
  transition: all 0.3s;
}
select:focus {
  outline: none;
  border: 1.5px solid green;
  transition: all 0.3s;
}
label {
  font-size: smaller;
  font-weight: bold;
}
@media (min-width: 768px) {
  h1 {
    font-weight: bolder;
    font-size: x-large;
  }
  h2 {
    font-size: x-large;
  }
  h3 {
    font-size: x-large;
  }
  h4 {
    font-size: larger;
    font-weight: 600;
  }
  p {
    padding: 3rem 0;
    font-size: small;
  }
  .editTitle {
    font-size: 12px;
  }
  .editSpacing {
    font-size: 8px;
  }
  h6 {
    font-size: small;
    text-wrap: nowrap;
  }
  section {
    margin-top: 8rem;
  }
  article {
    margin-top: 1rem;
  }
  .footer {
    font-size: medium;
    font-weight: 600;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-weight: bolder;
    font-size: 32px;
  }
  p {
    font-size: medium;
  }
  .editTitle {
    font-size: 18px;
  }
  .editSpacing {
    font-size: 15px;
  }
}
