@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  transition: all 0.8s ease-in-out;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
section {
  margin-top: 10rem;
}

#navHide {
  transform: translateY(-100vh);
  z-index: 100;
}
#navHide.showNav {
  transform: translateY(0);
  transition: 0.6s all ease-in-out;
  backdrop-filter: blur(16px);
  margin-top: 30px;
  height: 100vh;
}

hr {
  color: var(--color);
}
#close {
  border: 2px solid rgb(9, 119, 192);
  border-radius: 50%;
  padding: 10px;
  color: rgb(9, 119, 192);
}
#close:active {
  cursor: pointer;
  transition: 0.5s all ease-in-out;
  animation: rotate 0.5s;
  background-color: #e7f9fd !important;
  border: none;
}
@keyframes rotate {
  0% {
    rotate: 90deg;
  }
  100% {
    rotate: 180deg;
  }
}
